<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.robotemi.permission.map" />
    <uses-permission android:name="com.robotemi.permission.face_recognition" />
    <uses-permission android:name="com.robotemi.permission.settings" />
    <uses-permission android:name="com.robotemi.permission.sequence" />
    
    <application 
        android:label="MinimalApp"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="MinimalApp" />
        
        <meta-data
            android:name="com.robotemi.sdk.metadata.KIOSK"
            android:value="true" />
        
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TemiCommandService" android:exported="true" />
    </application>
</manifest>