<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <!-- Temi Permissions -->
    <uses-permission android:name="com.robotemi.permission.map" />
    <uses-permission android:name="com.robotemi.permission.face_recognition" />
    <uses-permission android:name="com.robotemi.permission.settings" />
    <uses-permission android:name="com.robotemi.permission.sequence" />
    <uses-permission android:name="com.robotemi.permission.meetings" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemiController"
        android:usesCleartextTraffic="true">

        <!-- Temi Skill Metadata -->
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="Temi Controller" />
        
        <meta-data
            android:name="com.robotemi.sdk.metadata.KIOSK"
            android:value="true" />

        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.map,
                           com.robotemi.permission.settings,
                           com.robotemi.permission.sequence,
                           com.robotemi.permission.meetings,
                           com.robotemi.permission.face_recognition" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MqttService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        
        <service
            android:name=".SurveillanceService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera" />

    </application>

</manifest>